@import "@/styles/mixins.scss";
  
  .card {
    background: white;
    border-radius: 16px;
    padding: 2rem;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
    height: fit-content;
    max-width: 400px;
    max-height: 200px;
    font-family: 'DM Sans Variable', sans-serif;
    //flex-wrap: wrap;
  }
  
  .icon {
    font-size: 2rem;
    display: block;
    margin-bottom: 0.25rem;
  
  }
  
  .card_title {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-family: 'DM Sans Variable', sans-serif;
  }
  
  .card_desc {
    color: #444;
    font-size: 0.95rem;
    line-height: 1.6;
    font-family: 'DM Sans Variable', sans-serif;
  }