@import "@/styles/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;700;800&display=swap');

.container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.committeesCards {
    display: grid;
    grid-template-columns: repeat(2, 35rem);
    gap: 4rem;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    padding: 4rem 1rem;
    margin: 0 auto;

    .card {
        width: 100%;
        max-width: 35rem;
        height: 35rem;
        border-radius: 2.25rem;
        overflow: hidden; 
        display: flex;
        flex-direction: column;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); 
        background: white; 

        &:last-child:nth-child(odd) {
            grid-column: 1 / span 2;
            width: 100%;
            max-width: 35rem;
            margin: auto;
        }
    }

    .cardTop {
        background: linear-gradient(to bottom, #3C3B72, #4B49A5, #6462BE);
        padding: 5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 11rem;
            height: 11rem;
            object-fit: contain;
        }
    }

    .cardBottom {
        background: white;
        padding-top: 2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        line-height: 2.5rem;

        h3 {
            font-family: 'Khula', sans-serif;
            color: #000;
            font-size: 2rem;
            margin: 0;
            font-weight: 500;
            max-width: 21.875rem;
        }
    }

    .learnMoreBtn {
        background-color: #3C3B72;
        padding: 0.5rem 2rem;
        border-radius: 1.25rem;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        cursor: pointer;
        transition: transform 0.2s ease;

        .learnMore {
            font-weight: 600;
            text-decoration: none;
            color: white;
            font-size: 1.5rem;
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}