@import "@/styles/mixins.scss";

.container {
  width: 100%;
}

.sectionTop {
  min-height: 100vh;
  border: 1px solid #000;
}

.sectionMiddle {
  min-height: 100vh;
  border: 1px solid #000;
}

.sectionBottom {
  min-height: 100vh;
  border: 1px solid #000;
}
