@import "@/styles/mixins.scss";

.container {
  width: 100%;
}

.sectionTop {
  min-height: 100vh;
}

.sectionMiddle {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 140px 60px;
}

.MiddleContent {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  padding: 60px 147px;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 2px 8px 15px 8px rgba(187, 186, 220, 0.5);
}

.LeftContent {
  display: flex;
  flex-direction: column;
  gap: 35px;

  flex: 0 1 667px;
  max-width: 667px;
}

.RightContent {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 0 0 300px;

}

.MissionTitle {
  font-family: var(--font-dm-sans);
  font-size: 55px;
  font-weight: 700;
  line-height: 1;
  color: #000; 
  margin: 0;
}

.BoldIntro {
  font-weight: 700;
  font-family: var(--font-khula);
}

.MissionText {
  font-family: var(--font-khula);
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  color: #000; 
  margin: 0;
}

.MissionImgCircle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 219px;
  height: 204px;
  border-radius: 345px;
  background-color: rgba(245, 245, 245, 1);

  box-shadow: 0px -4px 35px 0px rgba(187, 186, 220, 0.5);
}

.MissionImg {
  width: 155px;
  height: auto;
}

@media (max-width: 900px) {
  .MiddleContent{
    flex-direction: column;
    text-align: left;
  }

  .LeftContent, 
  .RightContent {
    max-width: 100%;
    width: 100%;

    flex: unset;
  }

  .RightContent {
    justify-content: center;
  }
}


.sectionBottom {
  min-height: 100vh;
  border: 1px solid #000;
}
