@import "@/styles/mixins.scss";

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    white 0%,
    #DAD8F4 100%
  );
}

.inner {
  max-width: 1300px;
  margin: 0 auto; 
  padding: 0 40px; 
}

.top {
  display: flex;
  flex-direction: column;
}

.top h2 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1.2;
  padding-bottom: 10px;
}

.top p {
  font-size: 18px;
  font-weight: 300;
  color: #7c7c80;
  padding-bottom: 5px;
}

.sub {
  display: flex;
}

.arrows {
  margin-left: auto;
  display: flex;
}

.arrows button {
  all: unset;
  cursor: pointer;
  font-size: 30px;
}

.arrows button:disabled {
  cursor: not-allowed;
  color: #c0c0c0;
}

/* Second Carousel feature */
.partnershipsCarousel {
  width: 100vw;
  margin-left: calc(50% - 50vw);

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 38px;
  
  padding: 76px 0 64px;
}

.partnershipsCarouselRow {
  width: 100%;
  overflow: hidden;
}

.partnershipsCarouselTrack {
  display: flex;
  flex-direction: row;
  width: max-content;
  gap: 35px;

  animation-duration: 35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.partnershipsCarouselTrack:hover {
  animation-play-state: paused;
}

.moveLeft {
  animation-name: partnershipsScrollLeft;
}

.moveRight {
  animation-name: partnershipsScrollRight;
}

@keyframes partnershipsScrollLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes partnershipsScrollRight {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-content: center;
}

@media (max-width: 900px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .partnershipsCarouselRow {
    gap: 40px;
    padding: 48px 0 48px;
  }

  .partnershipsCarouselTrack {
    gap: 24px;
    animation-duration: 28s;
  }
}


