@import "@/styles/mixins.scss";

.container1 {
  position: relative;
  width: 100%;

  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    white 0%,
    #DAD8F4 100%
  );
  padding-bottom: 5rem;
}

.inner {
  max-width: 1300px;
  margin: 0 auto; 
  padding: 0 40px; 
}

.top {
  display: flex;
  flex-direction: column;
}

.top h2 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1.2;
  padding-bottom: 10px;
}

.top p {
  font-size: 18px;
  font-weight: 300;
  color: #7c7c80;
  padding-bottom: 5px;
}

.sub {
  display: flex;
}

.arrows {
  margin-left: auto;
  display: flex;
}

.arrows button {
  all: unset;
  cursor: pointer;
  font-size: 30px;
}

.arrows button:disabled {
  cursor: not-allowed;
  color: #c0c0c0;
}

.partnerCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-content: center;
}

@media (max-width: 900px) {
  .partnerCards {
    grid-template-columns: 1fr;
  }

  .partnershipCardsContainer {

    padding: 3rem 10%;
    align-items: center;
  }
}

.heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  font-family: 'DM Sans Variable', sans-serif;
}

.subheading {
  color: #666;
  margin-bottom: 2.5rem;
  max-width: 905px;
  font-family: 'DM Sans Variable', sans-serif;
}

.offerCards {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  padding-bottom: 2rem;
  //flex-wrap: wrap;
  font-family: 'DM Sans Variable', sans-serif;
}

.bgImage{
  position: absolute;
  top: 180px;
  right: 5px;
  
  
  width: 600px;    
  height: 600px;
  opacity: 0.25;      
  z-index: 0;
  transform: rotate(-7.5deg);
  pointer-events: none;

  //3d effect
  filter:
  brightness(2)
        drop-shadow(0px 30px 0px rgba(70, 60, 400, 1))
}

.heading, .subheading, .partnerCards, .offerCards, .partnershipCardsContainer, .inner, .top, .arrows {
  position: relative;
  z-index: 1;

}