@import "@/styles/mixins.scss";



.alumniContainer {
  width: 100%;
  background: linear-gradient(
    to bottom,
    white 0%,
    #DAD8F4 100%
  );
}
.carouselContainer{
  position: relative;
  min-height: 8-0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}

.alumniNewsWrapper {
  position: relative;
  z-index: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

.alumniHeader {
  @include heading-1;
  color: #3B3976;
}

.alumniSubHeader {
  @include body-text;
  color: #3C3B72;
  padding-bottom: 30px;
}

.carouselSection {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.jccLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 50vw;
  max-width: 900px;
  height: auto;
  opacity: 0.3;
  pointer-events: none;

  filter:
    brightness(3)
}

.carouselWrapper {
  display: flex;
  gap: 30px;
  width: max-content;

  animation: scrollCarousel 20s linear infinite;
  will-change: transform;
}

.carouselWrapper:hover {
  animation-play-state: paused;
}

.carouselWrapper > * {
  flex: 0 0 auto;
}

@keyframes scrollCarousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.updateAlumniSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 8rem 1.5rem 10rem;
  background: transparent;
}

.learnMoreCard {
  width: min(100%,75rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 1.1rem;
  padding: 1.8rem 2.4rem 2.2rem;
}

.learnMoreTitle {
  @include heading-2;
  color: #3C3B72;
}

.learnMoreText {
  @include body-text;
  max-width: 56rem;
  color: #000000;
}

.learn_more_btn {
  border: 1px solid #000000;
  border-radius: 999px;
  padding: 0.5rem 2rem;
  background: #ffffff;
  color: #3c3b72;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;

  text-decoration: none;
}


.bottomAlumniSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10rem 1.5rem 80px;
  background: transparent;
}
.shareCard {
  width: min(100%,75rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  background: linear-gradient(to right,#3c3b72,#4B49A5,#6462BE);
  border: 1px solid #000000;
  border-radius: 1rem;
  padding: 1.8rem 2.4rem 2.2rem;
}


.shareTitle {
  @include heading-2;
  color: #FFFFFF;
  vertical-align: middle;
}

.shareText {
  @include body-text;
  max-width: 56rem;
  color: #FFFFFF;
}

.shareBtn {
  @include btn-inverse-purple;
}
